@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%);
    background-size: cover;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.header{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%);
    height: 50px;
    width: 100%;
    transition: 0.4s;
}
.header a{
    display: inline-block;
    padding-top: 3px;
    background-color: white;
    color: #1e3c72;
    height: 30px;
    width: 8%;
    border: 2px solid transparent;
    margin: 10px;   
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header a:hover{
    background-color: #1e3c72;
    color: white;
    border: 2px solid white;
    transition: 0.4s;
}
.login-form{
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
    padding: 3rem 1rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 0 0 10px 0 darkgrey;
}
.form-header img{
    background-color: none;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    margin-bottom: -10px;
    margin-top: -110px;
    mix-blend-mode: multiply;
}
.form-header h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.email input{
    height: 30px;
    width: 300px;
    border: 2px solid transparent;
    color: black;
    background-color: gainsboro;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    padding: 8px 0 8px 35px;
}
.email input:hover, .w50 input:hover, .confirm-w50 input:hover{
    background-color: lightgrey;
}
.email input::placeholder, .w50 input::placeholder, .confirm-w50 input::placeholder{
    color: #a9a9a9;
    font-weight: bold;
}
input[type = "email"]:focus, input[type = "password"]:focus{
    border-color: #1e3c72;
}
.w50 input{
    height: 30px;
    width: 300px;
    border: 2px solid transparent;
    color: black;
    background-color: gainsboro;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    padding: 8px 0 8px 35px;
}
.confirm-w50 input{
    height: 30px;
    width: 300px;
    border: 2px solid transparent;
    color: black;
    background-color: gainsboro;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    outline: none;
    padding: 8px 0 8px 35px;
}
.mostrar-senha input{
    height: 20px;
    float: left;
    font-size: 10px;
    position: absolute;
    left: 39%;
    cursor: pointer;
    border-radius: 5px;
}
.mostrar-senha label{
    font-size: 12px;
    margin-left: -130px;
    pointer-events: none;
    font-weight: bold;
}
.button a {
    display: inline-block;
    padding-top: 6px;
    background-color: #1e3c72;
    color: white;
    height: 40px;
    width: 300px;
    border: 2px solid transparent;
    margin: 10px;
    margin-top: 60px;   
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button a:hover{
    background-color: white;
    color: #1e3c72;
    border: 2px solid #1e3c72;
    transition: 0.4s;
}
.email i{
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    justify-content: flex-end;
}

.w50 i{
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    justify-content: flex-end;
}

.confirm-w50 i{
        position: absolute;
        margin-top: 7px;
        margin-left: 10px;
        justify-content: flex-end;
}